@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kullanıcı Girişi</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Kayit" asp-action="Apply">Click</a>
        Clıck here to log in.
    </p>
</div>
