@using Entities.Models
@model List<Entities.Models.User>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Email</td>
                <td>UserName</td>
                <td>Password</td>

            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody 
    </table>
</body>

</html>