@model Entities.Models.User
<div class="display-6">
    Sign Up
</div>
<form method="post" asp-action="SignUp">
    <div class="form-group my-2">
         <label asp-for="Email"></label>
         <input asp-for="Email" class="form-control">
          <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group my-2">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control">
         <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group my-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
         <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn btn-warning" asp-controller="User"asp-action="SignUp">Sign Up</button>@*nerde işlem yapıcağımızı belirtir *@
</form>